-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."Consulado" AS ENUM ('SAO_PAULO', 'PORTO_ALEGRE', 'RIO_DE_JANEIRO', 'SALVADOR', 'BRASILIA', 'OUTROS');

-- CreateEnum
CREATE TYPE "public"."FormaPagamento" AS ENUM ('PIX', 'CARTAO_CREDITO', 'CARTAO_DEBITO', 'BOLETO', 'TRANSFERENCIA', 'DINHEIRO', 'CHEQUE', 'OUTRO');

-- CreateEnum
CREATE TYPE "public"."Moeda" AS ENUM ('BRL', 'EUR', 'USD');

-- CreateEnum
CREATE TYPE "public"."Pais" AS ENUM ('PORTUGAL', 'ESPANHA', 'ALEMANHA', 'ITALIA');

-- CreateEnum
CREATE TYPE "public"."PrioridadeTarefa" AS ENUM ('BAIXA', 'MEDIA', 'ALTA', 'URGENTE');

-- CreateEnum
CREATE TYPE "public"."RecorrenciaTipo" AS ENUM ('UNICA', 'SEMANAL', 'MENSAL', 'TRIMESTRAL', 'SEMESTRAL', 'ANUAL');

-- CreateEnum
CREATE TYPE "public"."StatusContaPagar" AS ENUM ('PENDENTE', 'PAGO', 'VENCIDO', 'CANCELADO', 'AGENDADO');

-- CreateEnum
CREATE TYPE "public"."StatusDocumento" AS ENUM ('PENDENTE', 'SOLICITAR', 'SOLICITADO', 'EM_BUSCA', 'RECEBIDO', 'EM_ANALISE', 'RETIFICANDO', 'EM_TRADUCAO', 'TRADUZIDO', 'EM_APOSTILAMENTO', 'APOSTILADO', 'ENTREGUE', 'INVALIDO', 'NAO_ENCONTRADO');

-- CreateEnum
CREATE TYPE "public"."StatusFatura" AS ENUM ('PENDENTE', 'PAGO', 'VENCIDO', 'PARCIAL');

-- CreateEnum
CREATE TYPE "public"."StatusPost" AS ENUM ('RASCUNHO', 'PUBLICADO', 'ARQUIVADO');

-- CreateEnum
CREATE TYPE "public"."StatusTarefa" AS ENUM ('NAO_INICIADA', 'EM_ANDAMENTO', 'AGUARDANDO_CLIENTE', 'AGUARDANDO_TERCEIRO', 'CONCLUIDO_RECEBIDO', 'CONCLUIDO_NAO_POSSUI');

-- CreateEnum
CREATE TYPE "public"."TipoDocumento" AS ENUM ('CERTIDAO_NASCIMENTO', 'CERTIDAO_NASCIMENTO_INTEIRO_TEOR', 'CERTIDAO_CASAMENTO', 'CERTIDAO_CASAMENTO_INTEIRO_TEOR', 'CERTIDAO_OBITO', 'CERTIDAO_OBITO_INTEIRO_TEOR', 'CERTIDAO_BATISMO', 'CNN', 'CARTA_NATURALIZACAO', 'RG', 'CPF', 'CNH', 'PASSAPORTE_BRASILEIRO', 'TITULO_ELEITOR', 'RESERVISTA', 'PASSAPORTE_ESTRANGEIRO', 'CERTIDAO_CIDADANIA_ESTRANGEIRA', 'COMPROVANTE_RESIDENCIA', 'TRADUCAO_JURAMENTADA', 'APOSTILA_HAIA', 'FOTO_3X4', 'PROCURACAO', 'ARVORE_GENEALOGICA_DOC', 'OUTRO');

-- CreateEnum
CREATE TYPE "public"."TipoEvento" AS ENUM ('CONSULADO', 'CARTORIO', 'REUNIAO', 'PRAZO', 'AUDIENCIA', 'ENTREGA_DOCUMENTO', 'OUTRO');

-- CreateEnum
CREATE TYPE "public"."TipoTransacao" AS ENUM ('ENTRADA', 'SAIDA');

-- CreateEnum
CREATE TYPE "public"."Tribunal" AS ENUM ('ANCONA', 'BARI', 'BOLOGNA', 'BRESCIA', 'CAGLIARI', 'CALTANISSETTA', 'CAMPOBASSO', 'CATANIA', 'CATANZARO', 'FIRENZE', 'GENOVA', 'L_AQUILA', 'LECCE', 'MESSINA', 'MILANO', 'NAPOLI', 'PALERMO', 'PERUGIA', 'POTENZA', 'REGGIO_CALABRIA', 'ROMA', 'SALERNO', 'TORINO', 'TRENTO', 'TRIESTE', 'VENEZIA');

-- CreateTable
CREATE TABLE "public"."AnexoContratante" (
    "id" SERIAL NOT NULL,
    "nome" VARCHAR(200) NOT NULL,
    "tipo" VARCHAR(50),
    "nomeArquivo" VARCHAR(300) NOT NULL,
    "urlArquivo" TEXT NOT NULL,
    "tamanho" INTEGER,
    "mimeType" VARCHAR(100),
    "contratanteId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "categoria" TEXT,

    CONSTRAINT "AnexoContratante_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."AnexoInformacaoItalia" (
    "id" SERIAL NOT NULL,
    "nome" VARCHAR(200) NOT NULL,
    "tipo" VARCHAR(50),
    "nomeArquivo" VARCHAR(300) NOT NULL,
    "urlArquivo" TEXT NOT NULL,
    "tamanho" INTEGER,
    "mimeType" VARCHAR(100),
    "informacaoItaliaId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AnexoInformacaoItalia_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."AnexoProcesso" (
    "id" SERIAL NOT NULL,
    "nome" VARCHAR(200) NOT NULL,
    "tipo" VARCHAR(50) NOT NULL,
    "nomeArquivo" VARCHAR(300) NOT NULL,
    "urlArquivo" TEXT NOT NULL,
    "tamanho" INTEGER,
    "mimeType" VARCHAR(100),
    "processoId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AnexoProcesso_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."AnexoProtocolo" (
    "id" SERIAL NOT NULL,
    "nome" VARCHAR(200) NOT NULL,
    "tipo" VARCHAR(50),
    "nomeArquivo" VARCHAR(300) NOT NULL,
    "urlArquivo" TEXT NOT NULL,
    "tamanho" INTEGER,
    "mimeType" VARCHAR(100),
    "protocoloId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AnexoProtocolo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."AnexoRequerente" (
    "id" SERIAL NOT NULL,
    "nome" VARCHAR(200) NOT NULL,
    "tipo" VARCHAR(50),
    "nomeArquivo" VARCHAR(300) NOT NULL,
    "urlArquivo" TEXT NOT NULL,
    "tamanho" INTEGER,
    "mimeType" VARCHAR(100),
    "requerenteId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "categoria" TEXT,

    CONSTRAINT "AnexoRequerente_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Arvore" (
    "id" SERIAL NOT NULL,
    "nome" VARCHAR(50) NOT NULL,
    "descricao" VARCHAR(200),
    "commentPosX" DOUBLE PRECISION DEFAULT 0,
    "commentPosY" DOUBLE PRECISION DEFAULT 0,
    "pessoaPrincipalId" INTEGER,
    "posicoesNodes" JSONB,

    CONSTRAINT "Arvore_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."BlogPost" (
    "id" SERIAL NOT NULL,
    "titulo" VARCHAR(200) NOT NULL,
    "slug" VARCHAR(220) NOT NULL,
    "resumo" VARCHAR(500) NOT NULL,
    "conteudo" TEXT,
    "imagemUrl" TEXT,
    "imagemAlt" VARCHAR(200),
    "categoria" VARCHAR(100) NOT NULL,
    "tempoLeitura" INTEGER NOT NULL DEFAULT 5,
    "status" "public"."StatusPost" NOT NULL DEFAULT 'RASCUNHO',
    "destaque" BOOLEAN NOT NULL DEFAULT false,
    "dataPublicacao" TIMESTAMP(3),
    "metaTitle" VARCHAR(70),
    "metaDescription" VARCHAR(160),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "BlogPost_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."CategoriaFinanceira" (
    "id" SERIAL NOT NULL,
    "nome" VARCHAR(100) NOT NULL,
    "tipo" "public"."TipoTransacao" NOT NULL,
    "cor" VARCHAR(7),
    "icone" VARCHAR(50),
    "descricao" VARCHAR(200),
    "categoriaPaiId" INTEGER,
    "ativo" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CategoriaFinanceira_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."CentroCusto" (
    "id" SERIAL NOT NULL,
    "nome" VARCHAR(100) NOT NULL,
    "descricao" VARCHAR(200),
    "cor" VARCHAR(7),
    "ativo" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CentroCusto_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ClienteAuth" (
    "id" SERIAL NOT NULL,
    "email" VARCHAR(100) NOT NULL,
    "senhaHash" VARCHAR(255) NOT NULL,
    "contratanteId" INTEGER,
    "requerenteId" INTEGER,
    "ativo" BOOLEAN NOT NULL DEFAULT true,
    "primeiroAcesso" BOOLEAN NOT NULL DEFAULT true,
    "ultimoLogin" TIMESTAMP(3),
    "resetToken" VARCHAR(255),
    "resetTokenExpira" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ClienteAuth_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ContaBancaria" (
    "id" SERIAL NOT NULL,
    "nome" VARCHAR(100) NOT NULL,
    "banco" VARCHAR(100),
    "agencia" VARCHAR(20),
    "conta" VARCHAR(30),
    "tipoConta" VARCHAR(30),
    "chavePix" VARCHAR(100),
    "tipoChavePix" VARCHAR(20),
    "saldoInicial" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "saldoAtual" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "cor" VARCHAR(7),
    "ativo" BOOLEAN NOT NULL DEFAULT true,
    "principal" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ContaBancaria_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ContaPagar" (
    "id" SERIAL NOT NULL,
    "descricao" VARCHAR(200) NOT NULL,
    "observacoes" TEXT,
    "fornecedorId" INTEGER,
    "categoriaId" INTEGER,
    "valor" DECIMAL(12,2) NOT NULL,
    "valorPago" DECIMAL(12,2),
    "desconto" DECIMAL(12,2) DEFAULT 0,
    "juros" DECIMAL(12,2) DEFAULT 0,
    "multa" DECIMAL(12,2) DEFAULT 0,
    "dataEmissao" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "dataVencimento" TIMESTAMP(3) NOT NULL,
    "dataPagamento" TIMESTAMP(3),
    "dataCompetencia" TIMESTAMP(3),
    "status" "public"."StatusContaPagar" NOT NULL DEFAULT 'PENDENTE',
    "formaPagamento" "public"."FormaPagamento",
    "contaBancariaId" INTEGER,
    "numeroDocumento" VARCHAR(50),
    "tipoDocumento" VARCHAR(50),
    "comprovanteUrl" TEXT,
    "comprovanteNome" VARCHAR(200),
    "recorrencia" "public"."RecorrenciaTipo" NOT NULL DEFAULT 'UNICA',
    "contaPaiId" INTEGER,
    "numeroParcela" INTEGER,
    "totalParcelas" INTEGER,
    "processoId" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ContaPagar_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Contratante" (
    "id" SERIAL NOT NULL,
    "nome" VARCHAR(100) NOT NULL,
    "cpf" VARCHAR(14),
    "rg" VARCHAR(20),
    "dataNascimento" TIMESTAMP(3),
    "sexo" VARCHAR(20),
    "estadoCivil" VARCHAR(20),
    "nacionalidade" VARCHAR(50),
    "telefone" VARCHAR(20),
    "email" VARCHAR(100),
    "endereco" VARCHAR(200),
    "numero" VARCHAR(20),
    "complemento" VARCHAR(100),
    "bairro" VARCHAR(100),
    "cidade" VARCHAR(100),
    "estado" VARCHAR(50),
    "cep" VARCHAR(15),
    "observacoes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "pais" VARCHAR(50) DEFAULT 'Brasil',
    "crnm" VARCHAR(20),
    "passaporte" VARCHAR(20),

    CONSTRAINT "Contratante_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."CustoPessoa" (
    "id" SERIAL NOT NULL,
    "processoId" INTEGER NOT NULL,
    "pessoaId" INTEGER NOT NULL,
    "tipoServicoId" INTEGER NOT NULL,
    "valor" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "observacao" VARCHAR(200),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "tipoRegistro" VARCHAR(20),

    CONSTRAINT "CustoPessoa_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Documento" (
    "id" SERIAL NOT NULL,
    "pessoaId" INTEGER NOT NULL,
    "tipo" "public"."TipoDocumento" NOT NULL,
    "status" "public"."StatusDocumento" NOT NULL DEFAULT 'PENDENTE',
    "descricao" VARCHAR(200),
    "cartorio" VARCHAR(200),
    "livro" VARCHAR(20),
    "folha" VARCHAR(20),
    "termo" VARCHAR(30),
    "numero_registro" VARCHAR(50),
    "data_registro" TIMESTAMP(3),
    "cidade_registro" VARCHAR(100),
    "estado_registro" VARCHAR(50),
    "pais_registro" VARCHAR(50),
    "numero" VARCHAR(50),
    "orgao_emissor" VARCHAR(50),
    "data_emissao" TIMESTAMP(3),
    "data_validade" TIMESTAMP(3),
    "arquivo_url" TEXT,
    "arquivo_nome" VARCHAR(200),
    "arquivo_tamanho" INTEGER,
    "arquivo_mime_type" VARCHAR(100),
    "traduzido" BOOLEAN NOT NULL DEFAULT false,
    "tradutor" VARCHAR(150),
    "data_traducao" TIMESTAMP(3),
    "arquivo_traducao_url" TEXT,
    "arquivo_traducao_nome" VARCHAR(200),
    "apostilado" BOOLEAN NOT NULL DEFAULT false,
    "numero_apostila" VARCHAR(50),
    "data_apostila" TIMESTAMP(3),
    "arquivo_apostila_url" TEXT,
    "observacoes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "data_evento" TIMESTAMP(3),

    CONSTRAINT "Documento_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Evento" (
    "id" SERIAL NOT NULL,
    "processoId" INTEGER,
    "titulo" VARCHAR(200) NOT NULL,
    "descricao" TEXT,
    "tipo" "public"."TipoEvento" NOT NULL DEFAULT 'OUTRO',
    "dataInicio" TIMESTAMP(3) NOT NULL,
    "dataFim" TIMESTAMP(3),
    "diaInteiro" BOOLEAN NOT NULL DEFAULT false,
    "local" VARCHAR(200),
    "lembreteDias" INTEGER,
    "cor" VARCHAR(7),
    "observacoes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Evento_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Fatura" (
    "id" SERIAL NOT NULL,
    "processoId" INTEGER NOT NULL,
    "descricao" VARCHAR(200) NOT NULL,
    "valor" DECIMAL(10,2) NOT NULL,
    "status" "public"."StatusFatura" NOT NULL DEFAULT 'PENDENTE',
    "dataEmissao" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "dataVencimento" TIMESTAMP(3),
    "observacoes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "moeda" "public"."Moeda" NOT NULL DEFAULT 'BRL',
    "valorOriginal" DECIMAL(10,2),
    "cambio" DECIMAL(10,4),
    "metodoPagamento" "public"."FormaPagamento",
    "parcelas" INTEGER NOT NULL DEFAULT 1,
    "valorParcela" DECIMAL(10,2),

    CONSTRAINT "Fatura_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."FaturaDestinatario" (
    "id" SERIAL NOT NULL,
    "faturaId" INTEGER NOT NULL,
    "requerenteId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "FaturaDestinatario_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Fornecedor" (
    "id" SERIAL NOT NULL,
    "nome" VARCHAR(150) NOT NULL,
    "nomeFantasia" VARCHAR(150),
    "tipo" VARCHAR(20) NOT NULL,
    "cpfCnpj" VARCHAR(20),
    "inscricaoEstadual" VARCHAR(20),
    "inscricaoMunicipal" VARCHAR(20),
    "telefone" VARCHAR(20),
    "celular" VARCHAR(20),
    "email" VARCHAR(100),
    "website" VARCHAR(200),
    "cep" VARCHAR(10),
    "endereco" VARCHAR(200),
    "numero" VARCHAR(20),
    "complemento" VARCHAR(100),
    "bairro" VARCHAR(100),
    "cidade" VARCHAR(100),
    "estado" VARCHAR(2),
    "banco" VARCHAR(100),
    "agencia" VARCHAR(20),
    "conta" VARCHAR(30),
    "tipoConta" VARCHAR(20),
    "chavePix" VARCHAR(100),
    "tipoChavePix" VARCHAR(20),
    "observacoes" TEXT,
    "ativo" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Fornecedor_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."InformacaoItalia" (
    "id" SERIAL NOT NULL,
    "processoId" INTEGER NOT NULL,
    "tribunal" "public"."Tribunal" NOT NULL,
    "dataProtocolo" TIMESTAMP(3),
    "dataDistribuicao" TIMESTAMP(3),
    "numeroRuoloGenerale" VARCHAR(100),
    "observacoes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "InformacaoItalia_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."LogAuditoria" (
    "id" SERIAL NOT NULL,
    "acao" VARCHAR(50) NOT NULL,
    "entidade" VARCHAR(50) NOT NULL,
    "entidadeId" INTEGER,
    "descricao" TEXT NOT NULL,
    "detalhes" JSONB,
    "usuarioId" INTEGER,
    "criadoEm" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "LogAuditoria_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Mensagem" (
    "id" SERIAL NOT NULL,
    "processoId" INTEGER NOT NULL,
    "conteudo" TEXT NOT NULL,
    "usuarioId" INTEGER,
    "clienteAuthId" INTEGER,
    "lidoPeloCliente" BOOLEAN NOT NULL DEFAULT false,
    "lidoPelaEquipe" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "apagada" BOOLEAN NOT NULL DEFAULT false,
    "editadoEm" TIMESTAMP(3),

    CONSTRAINT "Mensagem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."PagamentoDestinatario" (
    "id" SERIAL NOT NULL,
    "pagamentoId" INTEGER NOT NULL,
    "requerenteId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PagamentoDestinatario_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."PagamentoFatura" (
    "id" SERIAL NOT NULL,
    "faturaId" INTEGER NOT NULL,
    "valor" DECIMAL(10,2) NOT NULL,
    "data" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "formaPagamento" "public"."FormaPagamento",
    "comprovanteUrl" TEXT,
    "comprovanteNome" VARCHAR(200),
    "observacao" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "cambio" DECIMAL(10,4),
    "valorOriginal" DECIMAL(10,2),

    CONSTRAINT "PagamentoFatura_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Parcela" (
    "id" SERIAL NOT NULL,
    "faturaId" INTEGER NOT NULL,
    "numero" INTEGER NOT NULL,
    "valor" DECIMAL(10,2) NOT NULL,
    "dataVencimento" TIMESTAMP(3) NOT NULL,
    "pago" BOOLEAN NOT NULL DEFAULT false,
    "dataPagamento" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Parcela_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Perfil" (
    "id" SERIAL NOT NULL,
    "nome" VARCHAR(50) NOT NULL,
    "descricao" VARCHAR(200),
    "permissoes" JSONB NOT NULL,
    "sistema" BOOLEAN NOT NULL DEFAULT false,
    "cor" VARCHAR(7),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Perfil_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Pessoa" (
    "id" SERIAL NOT NULL,
    "nome" VARCHAR(50) NOT NULL,
    "sobrenome" VARCHAR(40),
    "sexo" VARCHAR(10),
    "data_nasc" TIMESTAMP(3),
    "data_obito" TIMESTAMP(3),
    "local_nasc" VARCHAR(100),
    "estado_nasc" VARCHAR(50),
    "pais_nasc" VARCHAR(50),
    "vivo" BOOLEAN NOT NULL DEFAULT true,
    "batizado" VARCHAR(50),
    "data_batismo" TIMESTAMP(3),
    "local_batismo" VARCHAR(100),
    "igreja_batismo" VARCHAR(150),
    "profissao" VARCHAR(100),
    "nacionalidade" VARCHAR(50),
    "cidadanias_outras" VARCHAR(200),
    "naturalizado" BOOLEAN NOT NULL DEFAULT false,
    "data_naturalizacao" TIMESTAMP(3),
    "pais_naturalizacao" VARCHAR(50),
    "data_emigracao" TIMESTAMP(3),
    "local_emigracao" VARCHAR(100),
    "porto_embarque" VARCHAR(100),
    "data_chegada" TIMESTAMP(3),
    "porto_chegada" VARCHAR(100),
    "pais_destino" VARCHAR(50),
    "navio" VARCHAR(100),
    "comentario" TEXT,
    "x" INTEGER,
    "y" INTEGER,
    "arvoreId" INTEGER NOT NULL,
    "paiId" INTEGER,
    "maeId" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "numeroLinhagem" INTEGER,
    "requerente" TEXT DEFAULT 'nao',
    "ordemCusto" INTEGER DEFAULT 0,

    CONSTRAINT "Pessoa_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Processo" (
    "id" SERIAL NOT NULL,
    "nome" VARCHAR(100) NOT NULL,
    "descricao" VARCHAR(500),
    "observacoes" TEXT,
    "pais" "public"."Pais" NOT NULL,
    "statusId" INTEGER NOT NULL,
    "arvoreId" INTEGER,
    "dataInicio" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "previsaoTermino" TIMESTAMP(3),
    "dataConclusao" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Processo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ProcessoContratante" (
    "processoId" INTEGER NOT NULL,
    "contratanteId" INTEGER NOT NULL,

    CONSTRAINT "ProcessoContratante_pkey" PRIMARY KEY ("processoId","contratanteId")
);

-- CreateTable
CREATE TABLE "public"."ProcessoRequerente" (
    "processoId" INTEGER NOT NULL,
    "requerenteId" INTEGER NOT NULL,

    CONSTRAINT "ProcessoRequerente_pkey" PRIMARY KEY ("processoId","requerenteId")
);

-- CreateTable
CREATE TABLE "public"."Protocolo" (
    "id" SERIAL NOT NULL,
    "processoId" INTEGER NOT NULL,
    "contratanteId" INTEGER,
    "requerenteId" INTEGER,
    "consulado" "public"."Consulado" NOT NULL,
    "consuladoOutro" VARCHAR(200),
    "dataProtocolo" TIMESTAMP(3),
    "numeroProtocolo" VARCHAR(100),
    "observacoes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Protocolo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Requerente" (
    "id" SERIAL NOT NULL,
    "nome" VARCHAR(100) NOT NULL,
    "cpf" VARCHAR(14),
    "rg" VARCHAR(20),
    "dataNascimento" TIMESTAMP(3),
    "sexo" VARCHAR(20),
    "estadoCivil" VARCHAR(20),
    "nacionalidade" VARCHAR(50),
    "telefone" VARCHAR(20),
    "email" VARCHAR(100),
    "endereco" VARCHAR(200),
    "numero" VARCHAR(20),
    "complemento" VARCHAR(100),
    "bairro" VARCHAR(100),
    "cidade" VARCHAR(100),
    "estado" VARCHAR(50),
    "cep" VARCHAR(15),
    "observacoes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "pais" VARCHAR(50) DEFAULT 'Brasil',
    "crnm" VARCHAR(20),
    "passaporte" VARCHAR(20),

    CONSTRAINT "Requerente_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Status" (
    "id" SERIAL NOT NULL,
    "nome" VARCHAR(50) NOT NULL,
    "ordem" INTEGER NOT NULL DEFAULT 0,
    "pais" "public"."Pais" NOT NULL,

    CONSTRAINT "Status_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Tarefa" (
    "id" SERIAL NOT NULL,
    "titulo" VARCHAR(200) NOT NULL,
    "descricao" TEXT,
    "processoId" INTEGER,
    "statusId" INTEGER,
    "pais" "public"."Pais",
    "responsavelId" INTEGER,
    "concluida" BOOLEAN NOT NULL DEFAULT false,
    "prioridade" "public"."PrioridadeTarefa" NOT NULL DEFAULT 'MEDIA',
    "dataPrazo" TIMESTAMP(3),
    "dataConclusao" TIMESTAMP(3),
    "tarefaPaiId" INTEGER,
    "ordem" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "dataInicio" TIMESTAMP(3),
    "observacoes" TEXT,
    "tipoSubtarefa" VARCHAR(20),
    "prazoCobranca" INTEGER DEFAULT 5,
    "motivoConclusao" VARCHAR(50),
    "quantidadeCobrancas" INTEGER NOT NULL DEFAULT 0,
    "statusTarefa" "public"."StatusTarefa" NOT NULL DEFAULT 'NAO_INICIADA',
    "ultimaCobranca" TIMESTAMP(3),

    CONSTRAINT "Tarefa_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."TarefaHistorico" (
    "id" SERIAL NOT NULL,
    "tarefaId" INTEGER NOT NULL,
    "usuarioId" INTEGER,
    "acao" VARCHAR(50) NOT NULL,
    "descricao" VARCHAR(500) NOT NULL,
    "dados" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "TarefaHistorico_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."TipoServico" (
    "id" SERIAL NOT NULL,
    "processoId" INTEGER NOT NULL,
    "nome" VARCHAR(100) NOT NULL,
    "ordem" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "TipoServico_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Transacao" (
    "id" SERIAL NOT NULL,
    "tipo" "public"."TipoTransacao" NOT NULL,
    "descricao" VARCHAR(200) NOT NULL,
    "observacoes" TEXT,
    "valor" DECIMAL(12,2) NOT NULL,
    "data" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "dataCompetencia" TIMESTAMP(3),
    "contaBancariaId" INTEGER NOT NULL,
    "categoriaId" INTEGER,
    "faturaId" INTEGER,
    "contaPagarId" INTEGER,
    "processoId" INTEGER,
    "conciliado" BOOLEAN NOT NULL DEFAULT false,
    "dataConciliacao" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Transacao_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Uniao" (
    "id" SERIAL NOT NULL,
    "data_inicio" TIMESTAMP(3),
    "data_fim" TIMESTAMP(3),
    "tipo" VARCHAR(30),
    "local" VARCHAR(100),
    "estado" VARCHAR(50),
    "pais" VARCHAR(50),
    "cartorio" VARCHAR(200),
    "livro" VARCHAR(20),
    "folha" VARCHAR(20),
    "termo" VARCHAR(30),
    "numero_registro" VARCHAR(50),
    "data_registro" TIMESTAMP(3),
    "observacoes" TEXT,
    "pessoa1Id" INTEGER NOT NULL,
    "pessoa2Id" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Uniao_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Usuario" (
    "id" SERIAL NOT NULL,
    "nome" VARCHAR(100) NOT NULL,
    "email" VARCHAR(100) NOT NULL,
    "senha" VARCHAR(255) NOT NULL,
    "tipo" VARCHAR(20) NOT NULL,
    "perfilId" INTEGER,
    "permissoesCustom" JSONB,

    CONSTRAINT "Usuario_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "AnexoContratante_contratanteId_idx" ON "public"."AnexoContratante"("contratanteId" ASC);

-- CreateIndex
CREATE INDEX "AnexoInformacaoItalia_informacaoItaliaId_idx" ON "public"."AnexoInformacaoItalia"("informacaoItaliaId" ASC);

-- CreateIndex
CREATE INDEX "AnexoProcesso_processoId_idx" ON "public"."AnexoProcesso"("processoId" ASC);

-- CreateIndex
CREATE INDEX "AnexoProtocolo_protocoloId_idx" ON "public"."AnexoProtocolo"("protocoloId" ASC);

-- CreateIndex
CREATE INDEX "AnexoRequerente_requerenteId_idx" ON "public"."AnexoRequerente"("requerenteId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Arvore_pessoaPrincipalId_key" ON "public"."Arvore"("pessoaPrincipalId" ASC);

-- CreateIndex
CREATE INDEX "BlogPost_categoria_idx" ON "public"."BlogPost"("categoria" ASC);

-- CreateIndex
CREATE INDEX "BlogPost_dataPublicacao_idx" ON "public"."BlogPost"("dataPublicacao" ASC);

-- CreateIndex
CREATE INDEX "BlogPost_destaque_idx" ON "public"."BlogPost"("destaque" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "BlogPost_slug_key" ON "public"."BlogPost"("slug" ASC);

-- CreateIndex
CREATE INDEX "BlogPost_status_idx" ON "public"."BlogPost"("status" ASC);

-- CreateIndex
CREATE INDEX "CategoriaFinanceira_tipo_idx" ON "public"."CategoriaFinanceira"("tipo" ASC);

-- CreateIndex
CREATE INDEX "CentroCusto_ativo_idx" ON "public"."CentroCusto"("ativo" ASC);

-- CreateIndex
CREATE INDEX "ClienteAuth_contratanteId_idx" ON "public"."ClienteAuth"("contratanteId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "ClienteAuth_email_key" ON "public"."ClienteAuth"("email" ASC);

-- CreateIndex
CREATE INDEX "ClienteAuth_requerenteId_idx" ON "public"."ClienteAuth"("requerenteId" ASC);

-- CreateIndex
CREATE INDEX "ContaBancaria_ativo_idx" ON "public"."ContaBancaria"("ativo" ASC);

-- CreateIndex
CREATE INDEX "ContaPagar_categoriaId_idx" ON "public"."ContaPagar"("categoriaId" ASC);

-- CreateIndex
CREATE INDEX "ContaPagar_dataVencimento_idx" ON "public"."ContaPagar"("dataVencimento" ASC);

-- CreateIndex
CREATE INDEX "ContaPagar_fornecedorId_idx" ON "public"."ContaPagar"("fornecedorId" ASC);

-- CreateIndex
CREATE INDEX "ContaPagar_processoId_idx" ON "public"."ContaPagar"("processoId" ASC);

-- CreateIndex
CREATE INDEX "ContaPagar_status_idx" ON "public"."ContaPagar"("status" ASC);

-- CreateIndex
CREATE INDEX "CustoPessoa_pessoaId_idx" ON "public"."CustoPessoa"("pessoaId" ASC);

-- CreateIndex
CREATE INDEX "CustoPessoa_processoId_idx" ON "public"."CustoPessoa"("processoId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "CustoPessoa_processoId_pessoaId_tipoServicoId_tipoRegistro_key" ON "public"."CustoPessoa"("processoId" ASC, "pessoaId" ASC, "tipoServicoId" ASC, "tipoRegistro" ASC);

-- CreateIndex
CREATE INDEX "CustoPessoa_tipoServicoId_idx" ON "public"."CustoPessoa"("tipoServicoId" ASC);

-- CreateIndex
CREATE INDEX "Documento_pessoaId_idx" ON "public"."Documento"("pessoaId" ASC);

-- CreateIndex
CREATE INDEX "Documento_status_idx" ON "public"."Documento"("status" ASC);

-- CreateIndex
CREATE INDEX "Documento_tipo_idx" ON "public"."Documento"("tipo" ASC);

-- CreateIndex
CREATE INDEX "Evento_dataInicio_idx" ON "public"."Evento"("dataInicio" ASC);

-- CreateIndex
CREATE INDEX "Evento_processoId_idx" ON "public"."Evento"("processoId" ASC);

-- CreateIndex
CREATE INDEX "Evento_tipo_idx" ON "public"."Evento"("tipo" ASC);

-- CreateIndex
CREATE INDEX "Fatura_dataVencimento_idx" ON "public"."Fatura"("dataVencimento" ASC);

-- CreateIndex
CREATE INDEX "Fatura_processoId_idx" ON "public"."Fatura"("processoId" ASC);

-- CreateIndex
CREATE INDEX "Fatura_status_idx" ON "public"."Fatura"("status" ASC);

-- CreateIndex
CREATE INDEX "FaturaDestinatario_faturaId_idx" ON "public"."FaturaDestinatario"("faturaId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "FaturaDestinatario_faturaId_requerenteId_key" ON "public"."FaturaDestinatario"("faturaId" ASC, "requerenteId" ASC);

-- CreateIndex
CREATE INDEX "FaturaDestinatario_requerenteId_idx" ON "public"."FaturaDestinatario"("requerenteId" ASC);

-- CreateIndex
CREATE INDEX "Fornecedor_ativo_idx" ON "public"."Fornecedor"("ativo" ASC);

-- CreateIndex
CREATE INDEX "Fornecedor_cpfCnpj_idx" ON "public"."Fornecedor"("cpfCnpj" ASC);

-- CreateIndex
CREATE INDEX "Fornecedor_nome_idx" ON "public"."Fornecedor"("nome" ASC);

-- CreateIndex
CREATE INDEX "InformacaoItalia_processoId_idx" ON "public"."InformacaoItalia"("processoId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "InformacaoItalia_processoId_key" ON "public"."InformacaoItalia"("processoId" ASC);

-- CreateIndex
CREATE INDEX "LogAuditoria_criadoEm_idx" ON "public"."LogAuditoria"("criadoEm" ASC);

-- CreateIndex
CREATE INDEX "LogAuditoria_entidade_idx" ON "public"."LogAuditoria"("entidade" ASC);

-- CreateIndex
CREATE INDEX "LogAuditoria_usuarioId_idx" ON "public"."LogAuditoria"("usuarioId" ASC);

-- CreateIndex
CREATE INDEX "Mensagem_clienteAuthId_idx" ON "public"."Mensagem"("clienteAuthId" ASC);

-- CreateIndex
CREATE INDEX "Mensagem_createdAt_idx" ON "public"."Mensagem"("createdAt" ASC);

-- CreateIndex
CREATE INDEX "Mensagem_processoId_idx" ON "public"."Mensagem"("processoId" ASC);

-- CreateIndex
CREATE INDEX "Mensagem_usuarioId_idx" ON "public"."Mensagem"("usuarioId" ASC);

-- CreateIndex
CREATE INDEX "PagamentoDestinatario_pagamentoId_idx" ON "public"."PagamentoDestinatario"("pagamentoId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "PagamentoDestinatario_pagamentoId_requerenteId_key" ON "public"."PagamentoDestinatario"("pagamentoId" ASC, "requerenteId" ASC);

-- CreateIndex
CREATE INDEX "PagamentoDestinatario_requerenteId_idx" ON "public"."PagamentoDestinatario"("requerenteId" ASC);

-- CreateIndex
CREATE INDEX "PagamentoFatura_faturaId_idx" ON "public"."PagamentoFatura"("faturaId" ASC);

-- CreateIndex
CREATE INDEX "Parcela_dataVencimento_idx" ON "public"."Parcela"("dataVencimento" ASC);

-- CreateIndex
CREATE INDEX "Parcela_faturaId_idx" ON "public"."Parcela"("faturaId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Parcela_faturaId_numero_key" ON "public"."Parcela"("faturaId" ASC, "numero" ASC);

-- CreateIndex
CREATE INDEX "Parcela_pago_idx" ON "public"."Parcela"("pago" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Perfil_nome_key" ON "public"."Perfil"("nome" ASC);

-- CreateIndex
CREATE INDEX "Pessoa_arvoreId_idx" ON "public"."Pessoa"("arvoreId" ASC);

-- CreateIndex
CREATE INDEX "Pessoa_pais_nasc_idx" ON "public"."Pessoa"("pais_nasc" ASC);

-- CreateIndex
CREATE INDEX "Processo_pais_idx" ON "public"."Processo"("pais" ASC);

-- CreateIndex
CREATE INDEX "Processo_statusId_idx" ON "public"."Processo"("statusId" ASC);

-- CreateIndex
CREATE INDEX "Protocolo_contratanteId_idx" ON "public"."Protocolo"("contratanteId" ASC);

-- CreateIndex
CREATE INDEX "Protocolo_processoId_idx" ON "public"."Protocolo"("processoId" ASC);

-- CreateIndex
CREATE INDEX "Protocolo_requerenteId_idx" ON "public"."Protocolo"("requerenteId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Status_nome_pais_key" ON "public"."Status"("nome" ASC, "pais" ASC);

-- CreateIndex
CREATE INDEX "Status_pais_idx" ON "public"."Status"("pais" ASC);

-- CreateIndex
CREATE INDEX "Tarefa_concluida_idx" ON "public"."Tarefa"("concluida" ASC);

-- CreateIndex
CREATE INDEX "Tarefa_dataPrazo_idx" ON "public"."Tarefa"("dataPrazo" ASC);

-- CreateIndex
CREATE INDEX "Tarefa_pais_idx" ON "public"."Tarefa"("pais" ASC);

-- CreateIndex
CREATE INDEX "Tarefa_processoId_idx" ON "public"."Tarefa"("processoId" ASC);

-- CreateIndex
CREATE INDEX "Tarefa_responsavelId_idx" ON "public"."Tarefa"("responsavelId" ASC);

-- CreateIndex
CREATE INDEX "Tarefa_statusId_idx" ON "public"."Tarefa"("statusId" ASC);

-- CreateIndex
CREATE INDEX "Tarefa_statusTarefa_idx" ON "public"."Tarefa"("statusTarefa" ASC);

-- CreateIndex
CREATE INDEX "Tarefa_tarefaPaiId_idx" ON "public"."Tarefa"("tarefaPaiId" ASC);

-- CreateIndex
CREATE INDEX "TarefaHistorico_createdAt_idx" ON "public"."TarefaHistorico"("createdAt" ASC);

-- CreateIndex
CREATE INDEX "TarefaHistorico_tarefaId_idx" ON "public"."TarefaHistorico"("tarefaId" ASC);

-- CreateIndex
CREATE INDEX "TarefaHistorico_usuarioId_idx" ON "public"."TarefaHistorico"("usuarioId" ASC);

-- CreateIndex
CREATE INDEX "TipoServico_processoId_idx" ON "public"."TipoServico"("processoId" ASC);

-- CreateIndex
CREATE INDEX "Transacao_categoriaId_idx" ON "public"."Transacao"("categoriaId" ASC);

-- CreateIndex
CREATE INDEX "Transacao_contaBancariaId_idx" ON "public"."Transacao"("contaBancariaId" ASC);

-- CreateIndex
CREATE INDEX "Transacao_contaPagarId_idx" ON "public"."Transacao"("contaPagarId" ASC);

-- CreateIndex
CREATE INDEX "Transacao_data_idx" ON "public"."Transacao"("data" ASC);

-- CreateIndex
CREATE INDEX "Transacao_faturaId_idx" ON "public"."Transacao"("faturaId" ASC);

-- CreateIndex
CREATE INDEX "Transacao_processoId_idx" ON "public"."Transacao"("processoId" ASC);

-- CreateIndex
CREATE INDEX "Transacao_tipo_idx" ON "public"."Transacao"("tipo" ASC);

-- CreateIndex
CREATE INDEX "Uniao_pessoa1Id_idx" ON "public"."Uniao"("pessoa1Id" ASC);

-- CreateIndex
CREATE INDEX "Uniao_pessoa2Id_idx" ON "public"."Uniao"("pessoa2Id" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Usuario_email_key" ON "public"."Usuario"("email" ASC);

-- CreateIndex
CREATE INDEX "Usuario_perfilId_idx" ON "public"."Usuario"("perfilId" ASC);

-- AddForeignKey
ALTER TABLE "public"."AnexoContratante" ADD CONSTRAINT "AnexoContratante_contratanteId_fkey" FOREIGN KEY ("contratanteId") REFERENCES "public"."Contratante"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."AnexoInformacaoItalia" ADD CONSTRAINT "AnexoInformacaoItalia_informacaoItaliaId_fkey" FOREIGN KEY ("informacaoItaliaId") REFERENCES "public"."InformacaoItalia"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."AnexoProcesso" ADD CONSTRAINT "AnexoProcesso_processoId_fkey" FOREIGN KEY ("processoId") REFERENCES "public"."Processo"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."AnexoProtocolo" ADD CONSTRAINT "AnexoProtocolo_protocoloId_fkey" FOREIGN KEY ("protocoloId") REFERENCES "public"."Protocolo"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."AnexoRequerente" ADD CONSTRAINT "AnexoRequerente_requerenteId_fkey" FOREIGN KEY ("requerenteId") REFERENCES "public"."Requerente"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Arvore" ADD CONSTRAINT "Arvore_pessoaPrincipalId_fkey" FOREIGN KEY ("pessoaPrincipalId") REFERENCES "public"."Pessoa"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."CategoriaFinanceira" ADD CONSTRAINT "CategoriaFinanceira_categoriaPaiId_fkey" FOREIGN KEY ("categoriaPaiId") REFERENCES "public"."CategoriaFinanceira"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ClienteAuth" ADD CONSTRAINT "ClienteAuth_contratanteId_fkey" FOREIGN KEY ("contratanteId") REFERENCES "public"."Contratante"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ClienteAuth" ADD CONSTRAINT "ClienteAuth_requerenteId_fkey" FOREIGN KEY ("requerenteId") REFERENCES "public"."Requerente"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ContaPagar" ADD CONSTRAINT "ContaPagar_categoriaId_fkey" FOREIGN KEY ("categoriaId") REFERENCES "public"."CategoriaFinanceira"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ContaPagar" ADD CONSTRAINT "ContaPagar_contaBancariaId_fkey" FOREIGN KEY ("contaBancariaId") REFERENCES "public"."ContaBancaria"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ContaPagar" ADD CONSTRAINT "ContaPagar_fornecedorId_fkey" FOREIGN KEY ("fornecedorId") REFERENCES "public"."Fornecedor"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."CustoPessoa" ADD CONSTRAINT "CustoPessoa_pessoaId_fkey" FOREIGN KEY ("pessoaId") REFERENCES "public"."Pessoa"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."CustoPessoa" ADD CONSTRAINT "CustoPessoa_processoId_fkey" FOREIGN KEY ("processoId") REFERENCES "public"."Processo"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."CustoPessoa" ADD CONSTRAINT "CustoPessoa_tipoServicoId_fkey" FOREIGN KEY ("tipoServicoId") REFERENCES "public"."TipoServico"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Documento" ADD CONSTRAINT "Documento_pessoaId_fkey" FOREIGN KEY ("pessoaId") REFERENCES "public"."Pessoa"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Evento" ADD CONSTRAINT "Evento_processoId_fkey" FOREIGN KEY ("processoId") REFERENCES "public"."Processo"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Fatura" ADD CONSTRAINT "Fatura_processoId_fkey" FOREIGN KEY ("processoId") REFERENCES "public"."Processo"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."FaturaDestinatario" ADD CONSTRAINT "FaturaDestinatario_faturaId_fkey" FOREIGN KEY ("faturaId") REFERENCES "public"."Fatura"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."FaturaDestinatario" ADD CONSTRAINT "FaturaDestinatario_requerenteId_fkey" FOREIGN KEY ("requerenteId") REFERENCES "public"."Requerente"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."InformacaoItalia" ADD CONSTRAINT "InformacaoItalia_processoId_fkey" FOREIGN KEY ("processoId") REFERENCES "public"."Processo"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."LogAuditoria" ADD CONSTRAINT "LogAuditoria_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "public"."Usuario"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Mensagem" ADD CONSTRAINT "Mensagem_clienteAuthId_fkey" FOREIGN KEY ("clienteAuthId") REFERENCES "public"."ClienteAuth"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Mensagem" ADD CONSTRAINT "Mensagem_processoId_fkey" FOREIGN KEY ("processoId") REFERENCES "public"."Processo"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Mensagem" ADD CONSTRAINT "Mensagem_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "public"."Usuario"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."PagamentoDestinatario" ADD CONSTRAINT "PagamentoDestinatario_pagamentoId_fkey" FOREIGN KEY ("pagamentoId") REFERENCES "public"."PagamentoFatura"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."PagamentoDestinatario" ADD CONSTRAINT "PagamentoDestinatario_requerenteId_fkey" FOREIGN KEY ("requerenteId") REFERENCES "public"."Requerente"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."PagamentoFatura" ADD CONSTRAINT "PagamentoFatura_faturaId_fkey" FOREIGN KEY ("faturaId") REFERENCES "public"."Fatura"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Parcela" ADD CONSTRAINT "Parcela_faturaId_fkey" FOREIGN KEY ("faturaId") REFERENCES "public"."Fatura"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Pessoa" ADD CONSTRAINT "Pessoa_arvoreId_fkey" FOREIGN KEY ("arvoreId") REFERENCES "public"."Arvore"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Pessoa" ADD CONSTRAINT "Pessoa_maeId_fkey" FOREIGN KEY ("maeId") REFERENCES "public"."Pessoa"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."Pessoa" ADD CONSTRAINT "Pessoa_paiId_fkey" FOREIGN KEY ("paiId") REFERENCES "public"."Pessoa"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."Processo" ADD CONSTRAINT "Processo_arvoreId_fkey" FOREIGN KEY ("arvoreId") REFERENCES "public"."Arvore"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Processo" ADD CONSTRAINT "Processo_statusId_fkey" FOREIGN KEY ("statusId") REFERENCES "public"."Status"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ProcessoContratante" ADD CONSTRAINT "ProcessoContratante_contratanteId_fkey" FOREIGN KEY ("contratanteId") REFERENCES "public"."Contratante"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ProcessoContratante" ADD CONSTRAINT "ProcessoContratante_processoId_fkey" FOREIGN KEY ("processoId") REFERENCES "public"."Processo"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ProcessoRequerente" ADD CONSTRAINT "ProcessoRequerente_processoId_fkey" FOREIGN KEY ("processoId") REFERENCES "public"."Processo"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ProcessoRequerente" ADD CONSTRAINT "ProcessoRequerente_requerenteId_fkey" FOREIGN KEY ("requerenteId") REFERENCES "public"."Requerente"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Protocolo" ADD CONSTRAINT "Protocolo_contratanteId_fkey" FOREIGN KEY ("contratanteId") REFERENCES "public"."Contratante"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Protocolo" ADD CONSTRAINT "Protocolo_processoId_fkey" FOREIGN KEY ("processoId") REFERENCES "public"."Processo"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Protocolo" ADD CONSTRAINT "Protocolo_requerenteId_fkey" FOREIGN KEY ("requerenteId") REFERENCES "public"."Requerente"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Tarefa" ADD CONSTRAINT "Tarefa_processoId_fkey" FOREIGN KEY ("processoId") REFERENCES "public"."Processo"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Tarefa" ADD CONSTRAINT "Tarefa_responsavelId_fkey" FOREIGN KEY ("responsavelId") REFERENCES "public"."Usuario"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Tarefa" ADD CONSTRAINT "Tarefa_statusId_fkey" FOREIGN KEY ("statusId") REFERENCES "public"."Status"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Tarefa" ADD CONSTRAINT "Tarefa_tarefaPaiId_fkey" FOREIGN KEY ("tarefaPaiId") REFERENCES "public"."Tarefa"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."TarefaHistorico" ADD CONSTRAINT "TarefaHistorico_tarefaId_fkey" FOREIGN KEY ("tarefaId") REFERENCES "public"."Tarefa"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."TarefaHistorico" ADD CONSTRAINT "TarefaHistorico_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "public"."Usuario"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."TipoServico" ADD CONSTRAINT "TipoServico_processoId_fkey" FOREIGN KEY ("processoId") REFERENCES "public"."Processo"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Transacao" ADD CONSTRAINT "Transacao_categoriaId_fkey" FOREIGN KEY ("categoriaId") REFERENCES "public"."CategoriaFinanceira"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Transacao" ADD CONSTRAINT "Transacao_contaBancariaId_fkey" FOREIGN KEY ("contaBancariaId") REFERENCES "public"."ContaBancaria"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Transacao" ADD CONSTRAINT "Transacao_contaPagarId_fkey" FOREIGN KEY ("contaPagarId") REFERENCES "public"."ContaPagar"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Uniao" ADD CONSTRAINT "Uniao_pessoa1Id_fkey" FOREIGN KEY ("pessoa1Id") REFERENCES "public"."Pessoa"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Uniao" ADD CONSTRAINT "Uniao_pessoa2Id_fkey" FOREIGN KEY ("pessoa2Id") REFERENCES "public"."Pessoa"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Usuario" ADD CONSTRAINT "Usuario_perfilId_fkey" FOREIGN KEY ("perfilId") REFERENCES "public"."Perfil"("id") ON DELETE SET NULL ON UPDATE CASCADE;

